:root {
    font-family: 'Roboto', sans-serif;
    --color-primary: #f2f2f2;
    --color-secondary: #0f1022;

}

header {
    background-color: var(--color-primary) ;
    color: var(--color-secondary);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.2rem;

    & h1 {
        font-size: 3rem;
    }
}

body {
    min-height: 100vh;
}

main {
    height: 100%;
    }
.artwork {
    background: linear-gradient(var(--color-primary) , var(--color-secondary) 51%);
}

.front {
    height: 50vh;
    margin-bottom: 3rem;

    & .artwork-img {
        border: solid var(--color-secondary);
    }
}

.back {
    height: 50vh;
    display: none;
    & .artwork-img {
        border: solid var(--color-primary);
    }
}

.distribution-links {
    background: linear-gradient(var(--color-secondary) 20%, var(--color-primary));
    color: var(--color-primary);


    &>p {
        font-size: 3rem;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}

.front,
.back,
.distribution-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.artwork-img {
    height: 50vh;
    width: auto;
}